@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Distressed&display=swap');
body{
    background-color: black;
    background-image: url('https://wallpapercave.com/wp/wp2610854.png');
}
h1{
    color: white;
    text-align: center;
    font-size: 120px;
    margin-top: 2%;
    font-family: 'Rubik Distressed', cursive;
    margin-bottom: 3.5%;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-right: 150px;
    margin-left: 130px;
}
.description{
    color: rgb(234, 224, 240);
    padding-top: 40px;
    font-size: 43px;
    text-align: center;
    font-family: 'Lobster', cursive;
}
table{
    margin: auto;
} 
input{
    border-radius: 20px;
    border: 2px solid rgb(185, 99, 223);
    font-size: 32px;
    height: 65px;
    width: 340px;
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
}
button{
    border-radius: 20px;
    font-size: 25px;
    background-color: white;
    width: 75px;
    height: 55px;
    margin: 4px;
    border: 2px solid rgb(185, 99, 223);
    color: black;
}
.calculator{ 
    border: 2px solid rgb(185, 99, 223);
    background-color: rgb(133, 21, 181);
    padding: 15px;
    display: inline-block;
    border-radius: 30px;
}
button:hover{
    color: white;
    background-color: rgb(100, 0, 143);
 }